# Access Transformer entries - translated from spb-revamped.accesswidener (Yarn -> Mojmap/SRG)
# Source: git show master:src/main/resources/spb-revamped.accesswidener
# 41 entries total

# accessible method net/minecraft/client/render/GameRenderer getFov (Lnet/minecraft/client/render/Camera;FZ)D
public net.minecraft.client.renderer.GameRenderer m_109141_ # getFov(Camera, float, boolean)

# accessible class net/minecraft/client/render/WorldRenderer$ChunkInfo
public net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo

# accessible field net/minecraft/client/render/WorldRenderer$ChunkInfo chunk Lnet/minecraft/client/render/chunk/ChunkBuilder$BuiltChunk;
public net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo f_109839_ # chunk (ChunkRenderDispatcher$RenderChunk)

# accessible field net/minecraft/client/render/WorldRenderer chunkInfos Lit/unimi/dsi/fastutil/objects/ObjectArrayList;
public net.minecraft.client.renderer.LevelRenderer f_194297_ # renderChunksInFrustum (chunkInfos in Yarn)

# accessible field net/minecraft/client/render/WorldRenderer blockBreakingProgressions Lit/unimi/dsi/fastutil/longs/Long2ObjectMap;
public net.minecraft.client.renderer.LevelRenderer f_109409_ # destructionProgress (blockBreakingProgressions in Yarn)

# accessible field net/minecraft/client/render/WorldRenderer bufferBuilders Lnet/minecraft/client/render/BufferBuilderStorage;
public net.minecraft.client.renderer.LevelRenderer f_109464_ # renderBuffers (bufferBuilders in Yarn)

# accessible method net/minecraft/client/render/Camera setRotation (FF)V
public net.minecraft.client.Camera m_90572_ # setRotation(float, float)

# accessible field net/minecraft/entity/mob/MobEntity goalSelector Lnet/minecraft/entity/ai/goal/GoalSelector;
public net.minecraft.world.entity.Mob f_21345_ # goalSelector

# accessible field net/minecraft/world/chunk/Chunk blockEntityNbts Ljava/util/Map;
public net.minecraft.world.level.chunk.ChunkAccess f_187609_ # pendingBlockEntities (blockEntityNbts in Yarn)

# accessible field net/minecraft/entity/ai/goal/MeleeAttackGoal lastUpdateTime J
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal f_25550_ # lastCanUseCheck (lastUpdateTime in Yarn)

# accessible field net/minecraft/entity/ai/goal/MeleeAttackGoal path Lnet/minecraft/entity/ai/pathing/Path;
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal f_25543_ # path

# accessible field net/minecraft/client/render/WorldRenderer frustum Lnet/minecraft/client/render/Frustum;
public net.minecraft.client.renderer.LevelRenderer f_172938_ # cullingFrustum (frustum in Yarn)

# accessible field net/minecraft/client/render/Frustum frustumIntersection Lorg/joml/FrustumIntersection;
public net.minecraft.client.renderer.culling.Frustum f_252531_ # intersection (frustumIntersection in Yarn)

# accessible field net/minecraft/client/sound/SoundSystem sounds Lcom/google/common/collect/Multimap;
public net.minecraft.client.sounds.SoundEngine f_120227_ # instanceBySource (sounds in Yarn)

# accessible field net/minecraft/client/sound/SoundManager soundSystem Lnet/minecraft/client/sound/SoundSystem;
public net.minecraft.client.sounds.SoundManager f_120349_ # soundEngine (soundSystem in Yarn)

# accessible class net/minecraft/client/render/block/BlockModelRenderer$NeighborData
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo

# accessible class net/minecraft/client/render/block/BlockModelRenderer$BrightnessCache
public net.minecraft.client.renderer.block.ModelBlockRenderer$Cache

# accessible class net/minecraft/client/render/block/BlockModelRenderer$Translation
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientVertexRemap

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData faces [Lnet/minecraft/util/math/Direction;
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111110_ # corners (faces in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer BRIGHTNESS_CACHE Ljava/lang/ThreadLocal;
public net.minecraft.client.renderer.block.ModelBlockRenderer f_110996_ # CACHE (BRIGHTNESS_CACHE in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData nonCubicWeight Z
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111111_ # doNonCubicWeight (nonCubicWeight in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData field_4192 [Lnet/minecraft/client/render/block/BlockModelRenderer$NeighborOrientation;
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111112_ # vert0Weights (field_4192 in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData field_4185 [Lnet/minecraft/client/render/block/BlockModelRenderer$NeighborOrientation;
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111113_ # vert1Weights (field_4185 in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData field_4180 [Lnet/minecraft/client/render/block/BlockModelRenderer$NeighborOrientation;
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111114_ # vert2Weights (field_4180 in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborData field_4188 [Lnet/minecraft/client/render/block/BlockModelRenderer$NeighborOrientation;
public net.minecraft.client.renderer.block.ModelBlockRenderer$AdjacencyInfo f_111115_ # vert3Weights (field_4188 in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$Translation firstCorner I
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientVertexRemap f_111185_ # vert0 (firstCorner in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$Translation secondCorner I
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientVertexRemap f_111186_ # vert1 (secondCorner in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$Translation thirdCorner I
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientVertexRemap f_111187_ # vert2 (thirdCorner in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$Translation fourthCorner I
public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientVertexRemap f_111188_ # vert3 (fourthCorner in Yarn)

# accessible field net/minecraft/client/render/block/BlockModelRenderer$NeighborOrientation shape I
public net.minecraft.client.renderer.block.ModelBlockRenderer$SizeInfo f_111258_ # shape

# accessible class net/minecraft/client/render/WorldRenderer$RenderableChunks
public net.minecraft.client.renderer.LevelRenderer$RenderChunkStorage

# accessible class net/minecraft/client/option/SimpleOption$Callbacks
public net.minecraft.client.OptionInstance$ValueSet

# accessible class net/minecraft/client/render/VertexFormatElement$Type$SetupTask
public com.mojang.blaze3d.vertex.VertexFormatElement$Usage$SetupState

# accessible class net/minecraft/client/render/VertexFormatElement$Type$ClearTask
public com.mojang.blaze3d.vertex.VertexFormatElement$Usage$ClearState

# accessible class net/minecraft/client/render/chunk/ChunkBuilder$BuiltChunk$RebuildTask
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask

# accessible class net/minecraft/client/render/chunk/ChunkBuilder$BuiltChunk$RebuildTask$RenderData
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask$CompileResults

# accessible method net/minecraft/entity/player/PlayerInventory addStack (Lnet/minecraft/item/ItemStack;)I
public net.minecraft.world.entity.player.Inventory m_36066_ # addResource (addStack in Yarn)

# accessible field com/mojang/blaze3d/systems/RenderSystem$ShapeIndexBuffer id I
public com.mojang.blaze3d.systems.RenderSystem$AutoStorageIndexBuffer f_157468_ # name (id in Yarn)

# accessible method com/mojang/blaze3d/systems/RenderSystem$ShapeIndexBuffer grow (I)V
public com.mojang.blaze3d.systems.RenderSystem$AutoStorageIndexBuffer m_157476_ # grow

# accessible method net/minecraft/client/texture/SpriteAtlasTexture getHeight ()I
public net.minecraft.client.renderer.texture.TextureAtlas m_276095_ # getHeight

# accessible method net/minecraft/client/texture/SpriteAtlasTexture getWidth ()I
public net.minecraft.client.renderer.texture.TextureAtlas m_276092_ # getWidth
